//- Full standalone HTML page for a single poem.
//- Lives at public/<slug>/index.html (one directory deep), so all asset links use ../ prefix.
//- Locals: title, author, date, slug, versions, songs, postscript, analysis,
//-         favicon (already public/-stripped), subtitle

include _poem-content.pug

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{title}
    link(rel="icon" href=`../${favicon}`)
    link(rel="stylesheet" href="../poetic.css")
    link(rel="stylesheet" href="../custom.css")
    script(src="../poetic.js" defer)
  body
    div.container
      nav.poem-page-nav
        a(href="../") ← Poems
        |  ·&nbsp;
        a(href="../all-poems.html") All Poems
      div.poem-section(id=`poem-${slug}`)
        h2.poem-title!= titleHtml
        div.poem-content
          +poemContent
